 :root{
    --fuenteHeading:'Staatliches', sans-serif;
    --fuenteTitulos:'Bebas Neue', serif;
    --fuenteBody:'Crimson Text', serif;
 }

 .header-cv {
    font-family: var(--fuenteHeading);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 1rem;
    margin: -1rem;
    background-color: rgb(0, 132, 255); 
 }

 .imagen-perfil {
   width: 100px;
   height: auto;
   border-radius: 50%;

 }

 /* CSS de cada seccion */
.seccion {
   padding-top: 1rem;
   display: flex;
   flex-direction: row;
   margin: -1rem;
   
}


.header-seccion{
   display: flex;
   flex-direction: row;
   padding-right: 1rem;
   padding-left: 1rem;
   width: 30%;
   background-image: url('/Images/biblioteca.jpg');
   opacity: 3;
   
}

.title-seccion{
   padding-left: 1rem;
   font-family: var(--fuenteTitulos);
   font-size: x-large;
   color: white;
}

.descripcion{
   padding-top: 1rem;
   padding-left: 1rem;
   background-color: aliceblue;
   width: 70%;
 
}