 :root{
    --fuenteHeading:'Staatliches', sans-serif;
    --fuenteTitulos:'Bebas Neue', serif;
    --fuenteBody:'Crimson Text', serif;
 }

 .header-cv {
    font-family: var(--fuenteHeading);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 1rem;
    margin-top: -8.25rem;
    margin-left: -1rem;
    background-color: rgba(0, 255, 213, 0.397); 
    position: fixed;
    width: 100%;
    z-index: 20;
 }

 .name{
   font-weight: 600;
   font-size: x-large;
 }

 .imagen-perfil {
   width: 100px;
   height: auto;
   border-radius: 50%;

 }

 .content{
   margin-top: 9rem;
 }

 /* CSS de cada seccion */
 
.seccion {
   padding-top: 1rem;
   display: flex;
   flex-direction: row;
   margin: -1rem;
   
}


.header-seccion{
   display: flex;
   flex-direction: row;
   padding-right: 1rem;
   padding-left: 1rem;
   width: 30%;
   position: relative;
   
}

.background-educacion{
   background-image: url('/Images/biblioteca.jpg');
   opacity: 3;
   background-color: rgba(255, 255, 255, 0.5);
}
.background-experiencia{
   background-image: url('/Images/experiencia.jpg');
   opacity: 3;
   background-color: rgba(255, 255, 255, 0.5);
}
.background-skills{
   background-image: url('/Images/skills.jpg');
   opacity: 3;
   background-color: rgba(255, 255, 255, 0.5);
}
.background-certificaciones{
   background-image: url('/Images/certificaciones.jpg');
   opacity: 3;
   background-color: rgba(255, 255, 255, 0.5);
}

.title-seccion{
   padding-left: 4rem;
   margin-top: 1.5rem;
   font-family: var(--fuenteTitulos);
   font-size: xx-large;
   color: white;
}

.descripcion{
   padding-top: 1rem;
   padding-left: 1rem;
   background-color: aliceblue;
   width: 70%;
 
}

.container-description{
   display: flex;
   flex-direction: row;
   position: relative;
   padding-left: 4rem;
   padding-top: -1rem;
}

.especifica-descripcion{
   font-family: var(--fuenteBody);
}
.especifica-descripcion p:nth-child(1) {
   font-weight: bold;
 }
.especifica-descripcion p:nth-child(3) {
   color:grey;
 }

footer{
   font-family: var(--fuenteHeading);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4rem;
   padding-bottom: 2rem;
   background-color: rgba(0, 255, 213, 0.397);
   margin-left: -2rem;
   margin-bottom: -1rem;
   
 }

